<div class="category">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="category-item ch-400">
            <img src="assets/img/category-3.jpg" />
            <a class="category-name" href="">
              <p>Some text goes here that describes the image</p>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="category-item ch-250">
            <img src="assets/img/category-4.jpg" />
            <a class="category-name" href="">
              <p>Some text goes here that describes the image</p>
            </a>
          </div>
          <div class="category-item ch-150">
            <img src="assets/img/category-5.jpg" />
            <a class="category-name" href="">
              <p>Some text goes here that describes the image</p>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="category-item ch-150">
            <img src="assets/img/category-6.jpg" />
            <a class="category-name" href="">
              <p>Some text goes here that describes the image</p>
            </a>
          </div>
          <div class="category-item ch-250">
            <img src="assets/img/category-7.jpg" />
            <a class="category-name" href="">
              <p>Some text goes here that describes the image</p>
            </a>
          </div>
        </div>
        <div class="col-md-3">
          <div class="category-item ch-400">
            <img src="assets/img/category-8.jpg" />
            <a class="category-name" href="">
              <p>Some text goes here that describes the image</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
