<div class="review">
    <div class="container-fluid">
      <div class="row align-items-center -slider normal-slider">
        <div class="col-md-6">
          <div class="-slider-item">
            <div class="-img">
              <img src="assets/img/review-1.jpg" alt="Image">
            </div>
            <div class="-text">
              <h2>Customer Name</h2>
              <h3>Profession</h3>
              <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae nunc eget leo finibus luctus et
                vitae lorem
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="-slider-item">
            <div class="-img">
              <img src="assets/img/review-2.jpg" alt="Image">
            </div>
            <div class="-text">
              <h2>Customer Name</h2>
              <h3>Profession</h3>
              <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae nunc eget leo finibus luctus et
                vitae lorem
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="-slider-item">
            <div class="-img">
              <img src="assets/img/review-3.jpg" alt="Image">
            </div>
            <div class="-text">
              <h2>Customer Name</h2>
              <h3>Profession</h3>
              <div class="ratting">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae nunc eget leo finibus luctus et
                vitae lorem
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
